body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'header header header header header header header header header header header header'
        'main main main main main main main main main sidebar sidebar sidebar'
        'footer footer footer footer footer footer footer footer footer footer footer footer';
    margin: var(--space-size);
}

/* Header */
header {
    border: 1px dashed;
    grid-area: header;
}

/* Main */
main {
    border: 1px dashed;
    grid-area: main;
}

.client_stories > div {
    border: 1px dashed;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: calc(var(--space-size)*2) 0;
    justify-content: center;
    justify-content: space-between;
}

.client_stories .column:first-of-type {
    background: url('./images/cn-client-bg.jpeg') rgba(29, 14, 21, 0.3);
    background-size: cover;
    background-blend-mode: multiply;
    padding: var(--space-size);
    color: white;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.features > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.card-first {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    order: 1;
}

.card-second {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    order: 2;
}

.card-third {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    order: 3;
}

.card-fourth {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    order: 4;
}

.card-fifth {
    background-color: white;
    color: var(--secondary-color);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    order: 5;
}

.card-six {
    background: var(--secondary-color);
    color: white;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    order: 6;
}

/* Aside */
aside {
    grid-area: sidebar;
    display: grid;
    grid-row: 2;
    grid-template-rows: repeat(3, max-content);
    border: 1px dashed;
    align-content: space-between;
}

/* Footer */
footer {
    grid-area: footer;
    border: 1px dashed;
}